@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style=" background-image: url('/pictures/photo-airplane-taking-off_1721170501.jpg');" id="backimg">

    <div id="r1" style="background-color:whitesmoke;">
        <h1 style="text-align:center; font-family:Elephant; font:xx-large">FLY NOW</h1><br />
        <h3 id="heading" style="text-align:center">AIRLINE RESERVATION SYSTEM</h3>
        <br /><br /><br />
        <br /><br /><br />
        <br /><br />
        
      

        <h4 style="text-align:center; font-family:'Century Schoolbook'; font-size:30px;color:black">
            We provide you the best hosting website<br /> where you can reserve/review your reservations<br />
            providing you the best hosting facility with delivering your luggage on time..<br />
        </h4>
        <br /><br /><br />
        <div class="row">
            <div class="col-md-4">
                <img src="~/pictures/download%20(2).jpg" style="background-repeat:no-repeat; background-size:contain" />
            </div>
            <div class="col-md-6">
                <h1 id="header1">Gazi Rehman</h1>
                <h3 id="type">GaziRehman@hotmail.com</h3>
            </div>
        </div>
    </div>
</body>
</html>