@{
    ViewBag.Title = "UpdateSeat";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h2>UpdateSeat</h2>

<script>

    $(document).ready(function () {
        $("#pass").mouseout(function () {
            var f = $("#pass").val();
            $.getJSON("/Home/UpdateSeat3?seat=" + f, function (result) {
                if (result == true) {
                    $("#span").text("  ");
                    $("#btn").prop("disabled", false);
                }
                else {
                    $("#span").text("Sorry this seat no does not belong to you");
                    $("#btn").prop("disabled", true);
                }
            })
        })
    })
</script><div class="container" style="background-color:lightgray">
    <h1 id="heading">Update Your Seat</h1>
    <form method="post" action="/Home/ChangeSeat">
        <div class="form-group">
            <label id="type"> Enter your current Seat no</label>
            <input id="pass" name="seatn" style="width:350px; margin-bottom:20px" type="text" class="form-control" placeholder="Current Seat no" required>
            <span id="span" style="color:white;  background-color:red; font-size:12px" ></span>
        </div>
        @*<div class="form-group">
            <label id="type">Enter your New Seat no</label>
            <input name="ps" style="width:350px; margin-bottom:20px" type="number" class="form-control" placeholder="New seat no" readonly required>
        </div>*@
        <div class="form-group">
            <label id="type">Change your seat status</label>
            <select name="SeatStatus" required>
                @*<option value="reserve">Reserve</option>*@
                <option value="available">Available</option>
                
            </select>
        </div>
        <button type="submit" id="btn" class="btn btn-success">Update Seat Status</button>
    </form>
    <br /><br /><br /><br />
    <br /><br />



</div>
