@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<script>

    $(document).ready(function () {
        $("#pass").focusout(function () {
            var f = $("#pass").val();
            $.getJSON("/Home/Pass?pass=" + f, function (result) {
                if (result == true) {
                    $("#btn").prop("disabled", false);
                  //  $("#Cp").prop("readonly", false)
                  //$("#ps").prop("readonly", false);
                }
                else {
                    alert("Enter your Current password");
                    $("#btn").prop("disabled", true);
                }
            })
        })
    })
</script>
<script>

    $(document).ready(function () {
        $("#c1p").mouseout(function () {
            var f = $("#ps").val();
            var p = $("#c1p").val();

            if (f == p) {
                $("#span").text(" ")
                $("#btn").prop("disabled", false);
            }
            else {
               $("#span").text("password does not match")
                $("#btn").prop("disabled", true);

            }
        });
    })
</script>



<div class="container" style="background-color:lightgray">
    <h1 id="heading">Update Your Password</h1>
    <form method="post" action="/Home/ChangePass">
        <div class="form-group">
            <label id="type"> Enter your current Password</label>
            <input id="pass" style="width:350px; margin-bottom:20px" type="password" class="form-control" placeholder="Current Password" required>
            
        </div>
        <div class="form-group">
            <label id="type">Enter your New Password</label>
            <input id="ps" name="ps" style="width:350px; margin-bottom:20px" type="password" class="form-control" placeholder="New Password"  required>
        </div>
        <div class="form-group">
            <label id="type">Re-enter your new Password</label>
            <input id="c1p" name="Cp" style="width:350px; margin-bottom:20px" type="password" class="form-control" placeholder=" Confirm Password"  required>
            <span id="span" style="color:white;  background-color:red; font-size:12px"></span>
        </div>
        <button type="submit" id="btn" class="btn btn-success">Update Password</button>
    </form>
    <br /><br /><br /><br />
    <br /><br />
    


</div>
